* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Inter', sans-serif;
	color: #FFFFFF;
	background-image: url("../resources/rose_sky.jpg");
	background-repeat: no-repeat;
	background-size: cover !important;
	width: 100%;
	height: 100vh;
	background-size: 100% 100%;
	min-height: 100%;
	font-size: 0.8rem;
}

/* aplying flex properties for whole page */
.container {
	display: flex;
	flex-direction: column;
	width: 25.8rem;
	height: 100vh;
}

/* applying styles for Quote part */
.quote-container {
	flex-grow: 1;
	padding: 2rem;
}

.quote-content {
	font-weight: 400;
	line-height: 1rem;
	text-align: left;
	display: inline-block;
	height: 5em;
}

.quote-button {
	color: rgba(241, 247, 247, 0.725);
	background: none;
	border: none;
	font-size: 1.2rem;
	float: right;
	padding-top: 1.2rem;
	transition: transform .2s;
}

.quote-button:hover {
	color: #e0f5ff;
	filter: drop-shadow(3px 5px 12px rgba(238, 254, 255, 0.725));
	transform: scale(1.1);
	transition-duration: 1s;
}

.quote-button:active {
	filter: drop-shadow(3px 5px 12px rgba(234, 244, 245, 0.806));
	transform: translateY(8px);
}

.quote-author {
	padding-top: 1.2rem;
	font-style: normal;
	font-weight: 700;
	display: inline-block;
}

/*main section with location and current time data*/
.time-location {
	margin-left: 2rem;
	padding-top: 5em;
}

.greetings-container {
	display: flex;
	align-items: baseline;
}

.fa-moon {
	filter: drop-shadow(3px 5px 5px rgba(246, 250, 252, 0.699));
}

.greetings {
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1rem;
	letter-spacing: 0.2rem;
	text-align: left;
	padding: 0.8rem 1.4rem;
}

.clock {
	font-size: 7rem;
	font-weight: 700;
	line-height: 6rem;
	letter-spacing: -0.1rem;
	text-align: left;
	text-shadow: 0 0 3px rgba(198, 236, 255, 0.699);
}

.location {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 2rem;
	letter-spacing: 0.1rem;
	text-align: left;
}


/*toggle section with button and additiona inforation section*/
.wrapper {
	flex-grow: 1;
	overflow: hidden;
	margin-top: 2rem;
	margin-left: 2rem;
}

.toggle-btn {
	color: #787878;
	font-weight: 600;
	line-height: 1rem;
	letter-spacing: 0.2rem;
	text-align: left;
	border-radius: 2rem;
	border: 1px solid #FFFFFF;
	padding: 0.6rem;
	background-color: #FFFFFF;
	width: 9rem;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.toggle-btn:hover {
	background: #838383;
	border-color: #838383;
	color: #f2f2f2;
	transition: 250ms ease-in-out;
}

.toggle-btn:active {
	transform: matrix(0.95, 0, 0, 0.95, 0, 0);
	font-size: 0.95em;
}

.time-container {
	display: flex;
	flex-flow: row wrap;
	gap: 5rem;
	align-content: center;
	justify-content: flex-start;
	height: 15rem;
	overflow: hidden;
	width: 100%;
}

#time-container {
	display: none;
}

.timezone,
.day-week,
.day-year,
.week-number {
	text-align: center;
	font-size: 1rem;
}

.day-week>h6 {
	margin-top: 0.5rem;
	font-weight: 700;
	font-size: 1.2rem;
}

.timezone>h6 {
	margin-top: 0.5rem;
	font-weight: 700;
	font-size: 1.2rem;
}

.day-year>h6 {
	margin-top: 0.5rem;
	font-weight: 700;
	font-size: 1.2rem;
}

.week-number>h6 {
	margin-top: 0.5rem;
	font-weight: 700;
	font-size: 1.2rem;
}

/*footer copyright section*/
.copyright {
	position: absolute !important;
	bottom: 0;
	width: 100%;
	height: 2rem;
	font-size: 0.6rem;
	text-align: center;
}